<div class="login-backimg">
<div class="container">
  <div class="signin text-center py-5 px-5 col-md-5 mx-auto ">
    <h3 class="signin-title mb-5">ログイン</h3>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <h5><span style="background-color:#ffffe0">　会員の方はこちらからログイン　</h5>
    <br>
    <div class="field">
      <%= f.label "メールアドレス" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'sample@example.com' %>
    </div>

    <div class="field">
      <%= f.label "パスワード" %>
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div><br>
    <div class="actions">
      <%= f.submit "ログイン", class: 'btn btn-outline-success' %>
    </div>
  <% end %>
<br>
  <h5><span style="background-color:#ffffe0">　会員登録がお済みでない方　</h5>
  <table>
    <tr>
      <span class="text-center"><td><%= render "customers/shared/links" %></td>
      <td>から新規登録を行ってください。</td></span>
    </tr>
  </table>
</div>
</div>
</div>