<div class="container">
  <br>
 <h4><span style="background-color:#EFEFEF">　注文情報確認　</h4><br>
  <div class="row">
    <div class="col-xs-9">
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |cart| %>
            <tr>
              <td>
                <%= attachment_image_tag(cart.item, :image, size: "60x50", fallback: "no_image.jpg") %>
                <%= cart.item.name %>
              </td>
              <td><%= tax_price(cart.item.excluding_tax_price).to_s(:delimited) %></td>
              <td><%= cart.quantity %></td>
              <td><%= purchase_price(cart).to_s(:delimited) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-xs-3">
      <table class="table table-hover table-bordered">
        <tr>
          <td>送料</td>
          <td>¥<%= @order.postage %></td>
        </tr>
        <tr>
          <td>商品合計</td>
          <td>¥<%= total_payment(@cart_items).to_s(:delimited) %></td>
        </tr>
        <tr>
          <td>請求金額</td>
          <td>
            <% total = billing_amount(@order) %>
            ¥<%= total.to_s(:delimited) %>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <table>
      <tr>
        <th>支払方法</th>
        <td></td>
        <td><%= @order.payment_method %></td>
      </tr>
      <tr>
        <th>お届け先</th>
        <td></td>
        <td><%= "#{@order.postcode} #{@order.address} #{@order.name}" %></td>
      </tr>
    </table>
  </div>
</div>
<br>
<div class ="col-xs-11">
  <%= form_with model: @order, url:orders_path, method: :post, local: true do |f| %>
    <%= f.hidden_field :postcode %>
    <%= f.hidden_field :address %>
    <%= f.hidden_field :name %>
    <%= f.hidden_field :payment_method %>
    <%= f.hidden_field :total_payment, :value => total %>
    <%= f.submit "購入を確定する" %>
  <% end %>
</div>

