<h1>Public::Orders#create</h1>
<p>Find me in app/views/public/orders/create.html.erb</p>

<%= f.radio_button :address_option, 1 %>
<%= f.label :"登録住所からの選択"%><br>
<%= f.collection_select :address_id, @addresses, %>
</div><br>

<%= f.radio_button :address_option, 3 %>
<%= f.label :"新しいお届け先"%>
