<div class="container">
  <h4><span style="background-color:#EFEFEF">　注文履歴詳細　</h4>
  <table class="table table-hover table-bordered">
    <thead class="thead-light">
      <strong>注文情報</strong>
      <tr>
        <th>注文日<%= @order.created_at.strftime('%Y/%m/%d') %></th>
        <th>配送先<%= @order.postal_code %><br>
                	<%= @order.address %><br>
                	<%= @order.name %>
        </th>
        <th>支払方法<%= @order.payment_method %></th>
        <th>ステータス<%= @order.order_status %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>注文日</td>
        <td>郵便番号と住所と宛名</td>
        <td>支払方法</td>
        <td>ステータス</td>
      </tr>
    </tbody>

    <thead class="thead-light">
      <strong>請求情報</strong>
      <tr>
        <th>商品合計<%= total_payment(@order_details).to_s(:delimited) %>円</th>
        <th>配送料<%= @order.postage.to_s(:delimited) %>円</th>
        <th><strong>ご請求額<%= @oders.total_payment.to_s(:delimited) %>円</strong></th>
      </tr>
    </thead>
    <!--<tbody>-->
    <!--    <tr>-->
    <!--      <td>商品合計（数字）</td>-->
    <!--      <td>配送料（数字）</td>-->
    <!--      <td>請求額（数字）</td>-->
    <!--    </tr>-->
    <!--</tbody>-->

    <thead class="thead-light">
      <strong>注文内容</strong>
      <tr>
        <th>商品</th>
        <th>単価（税込）</th>
        <th>個数</th>
        <th>小計</th>
      </tr>
    </thead>
    <tbody>
      <%= @order_details.each do |order_detail| %>
        <tr>
          <td><%= order_detail.product.name %></td>
          <td><%= tax_price(order_detail.item.excluding_tax_price).to_s(:delimited) %>円</td>
          <td><%= order_detail.quantity %></td>
          <td><%= purchase_price(order_detail).to_s(:delimited) %>円</td>
        </tr>
        <% end %>
    </tbody>
  </table>
</div>
