<div class="container">
    <div class="row">
        <div class="color">
            <h3 class="pt-3 item-title">商品一覧<span>全<%= @items.count %>件</span></h3>
                <div class="row m-5 item-index">
                    <div class="d-inline-block ml-4">
                        <% @items.each do |item| %>
                            <%= link_to item_path(item.id), class: "btn-link" do %>
                                <div>
                                    <%= attachment_image_tag(item, :image, size: "220x180", fallback: "no_image.jpg") %>
                                </div>
                                <p class="item-name"><%= item.name %></p>
                                <% if item.is_active == true %>
                                    <p class="item-price">¥<%= item.excluding_tax_price.to_s(:delimited) %></p>
                                <% else %>
                                    <p class="soldout">売り切れ</p>
                                <% end %>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            <%= paginate @items %>
        </div>
    </div>
</div>
