<header>
  <!--ナビバーの左にタイトル-->
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #400406;">
    <!--<div class="container">-->
    <% if admin_signed_in? %>
      <!--管理者がログインしている時-->
      <%= link_to "NaganoCAKE", admin_orders_path, class: "navbar-brand text-light fas fa-birthday-cake" %>
    <% else %>
      <!--管理者がログインしていない時-->
      <%= link_to "NaganoCAKE", root_path, class: "navbar-brand text-light fas fa-birthday-cake" %>
    <% end %>
    <!--右margin.auto-->
    <ul class="navbar-nav ml-auto list-unstyled p-4">
      <% if customer_signed_in? %>
        <!--カスタマーがログインしている時 -->
        <li class="header-name text-light d-flex align-items-center">ようこそ、<%= current_customer.last_name %>さん！</li>
        <li>
          <%= link_to customer_path(current_customer) do %>
            <button class="btn btn-outline-light btn-sm text-light mx-3" >マイページ</button>
          <% end %>
        </li>
        <li>
          <%= link_to items_path do %>
            <button class="btn btn-outline-light btn-sm text-light mx-3" >商品一覧</button>
          <% end %>
        </li>
        <li>
          <%= link_to cart_items_path do %>
            <button class="btn btn-outline-light btn-sm text-light mx-3" >カート</button>
          <% end %>
        </li>
        <li>
          <%= link_to destroy_customer_session_path, method: :delete do %>
            <button class="btn btn-outline-light btn-sm text-light mx-3" >ログアウト</button>
          <% end %>
        </li>
      <% elsif admin_signed_in? %>
        <!-- 管理者がログインしている時 -->
        <li>
          <%= link_to admin_items_path do %>
            <button class="btn btn-outline-light btn-sm text-light mx-3" >商品一覧</button>
          <% end %>
        </li>
        <li>
          <%= link_to admin_customers_path do %>
            <button class="btn btn-outline-light btn-sm text-light mx-3" >会員一覧</button>
          <% end %>
        </li>
        <li>
          <%= link_to admin_orders_path do %>
            <button class="btn btn-outline-light btn-sm text-light mx-3" >注文履歴一覧</button>
          <% end %>
        </li>
        <li>
          <%= link_to admin_genres_path do %>
            <button class="btn btn-outline-light btn-sm text-light mx-3" >ジャンル一覧</button>
          <% end %>
        </li>
        <li>
          <%= link_to destroy_admin_session_path, method: :delete do %>
            <button class="btn btn-outline-light btn-sm text-light mx-3" >ログアウト</button>
          <% end %>
        </li>
        <%= text_field_tag :search, "", placeholder: 'Search', class: "ml-3" %>
      <% else %>
        <!-- ログインしていない時 -->
        <li>
          <%= link_to items_about_path do %>
            <button class="btn btn-outline-light btn-sm text-light mx-3" >About</button>
          <% end %>
        </li>
        <li>
          <%= link_to items_path do %>
            <button class="btn btn-outline-light btn-sm text-light mx-3" >商品一覧</button>
          <% end %>
        </li>
        <li>
          <%= link_to new_customer_registration_path do %>
            <button class="btn btn-outline-light btn-sm text-light mx-3" >新規登録</button>
          <% end %>
        </li>
        <li>
          <%= link_to new_customer_session_path do %>
            <button class="btn btn-outline-light btn-sm text-light mx-3" >ログイン</button>
          <% end %>
        </li>
      <% end %>
    </ul>
  </nav>
</header>
